.bg-transition-round {
  position: fixed;
  height: 100vh;
  width: 200vw;
  border-radius: 50vh 0 0 50vh;
  right: -200vw;
  top: 0;
  background: black;
  z-index: 999;
  --transition-value: -50vw;

  &:not(.transitioning) {
    display: none;
  }

  &.transitioning {
    animation: bg-transition-round 0.8s ease-in 0.2s both;
  }

  &.on-vertical-view {
    --transition-value: 0vw;
  }
}

@keyframes bg-transition-round {
  to {
    right: var(--transition-value);
    background: #090909;
  }
}
