.browse-quizzes-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 12px;

  h2 {
    font-family: var(--poppins);
    font-size: 64px;
  }

  label {
    display: flex;
    background: #0c0c0c;
    border: 1px solid #313131;
    border-radius: 10px;
    padding: 0 12px;
    width: 600px;
    align-items: center;
    gap: 14px;
    height: 54px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    --font-size: 18px;

    &:hover {
      border: 1px solid #4e4e4e;
    }

    svg {
      --size: 26px;
      width: var(--size);
      height: var(--size);
      opacity: 0.6;
      transition: all 0.25s ease-out;
    }

    input {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: var(--font-size);
      color: #dbdbdb;
      font-size: 18px;
      font-family: var(--roboto);
      width: 100%;

      &:focus {
        cursor: text;

        &::placeholder {
          opacity: 0.7;
        }
      }

      &::placeholder {
        transition: opacity 0.2s ease;
        color: #4f4f4f;
        font-size: var(--font-size);
        font-family: var(--roboto);
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .browse-quizzes-form h2 {
    font-size: 58px;
  }
}

@media screen and (max-width: 1000px) {
  .browse-quizzes-form {
    margin-top: 60px;
  }

  .browse-quizzes-form h2 {
    font-size: 52px;
  }

  .browse-quizzes-form label {
    padding: 0 10px;
    width: 500px;
    gap: 12px;
    height: 48px;
    --font-size: 16px;
  }

  .browse-quizzes-form label svg {
    --size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .browse-quizzes-form {
    margin-top: 70px;
  }

  .browse-quizzes-form h2 {
    font-size: 46px;
  }

  .browse-quizzes-form label {
    width: 420px;
    height: 44px;
    gap: 10px;
    border-radius: 8px;
    --font-size: 14px;
  }

  .browse-quizzes-form label svg {
    --size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .browse-quizzes-form {
    margin-top: 80px;
  }

  .browse-quizzes-form h2 {
    font-size: 40px;
  }

  .browse-quizzes-form label {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .browse-quizzes-form {
    margin-top: 90px;
  }

  .browse-quizzes-form h2 {
    font-size: 32px;
  }

  .browse-quizzes-form label {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .browse-quizzes-form h2 {
    font-size: 28px;
  }

  .browse-quizzes-form label {
    width: 270px;
  }
}