.play-question-box {
  background: #262627;
  border-radius: 20px;
  padding: 45px;
  max-width: var(--question-box-max-width);
  min-width: var(--question-box-min-width);
  user-select: none;

  animation: question-box-appear 0.6s ease both;
  &.unloading {
    animation: question-box-disappear 0.3s ease-out both;
  }

  h2 {
    font-size: var(--question-box-query-fs);
    line-height: 34px;
    font-weight: 600;
    font-family: var(--poppins);
    margin: 0 30px 28px 0;
    text-wrap: wrap;
    word-break: break-word;
  }

  .answers {
    gap: 14px;

    .answer-box {
      border-radius: 10px;
      user-select: none;
      cursor: pointer;
      background: var(--bg-color);
      border: none;
      text-align: left;

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 12px;
      transition: all 0.3s ease;

      span {
        font-family: var(--roboto);
      }

      svg {
        --svg-size: 30px;
        width: var(--svg-size);
        height: var(--svg-size);
        transition: all 0.3s ease;
      }

      &:disabled {
        pointer-events: none;

        &,
        svg path {
          filter: brightness(75%);
          color: white;
        }
      }

      &:not(:disabled) {
        &:hover {
          filter: brightness(120%);
          box-shadow: 0 0 10px var(--bg-color-st);

          svg {
            scale: 1.1;
          }
        }

        &:active {
          box-shadow: 0 0 10px transparent;
          filter: brightness(95%);
        }
      }
    }

    /* IF LIST */
    &.list {
      display: flex;
      flex-direction: column;

      .answer-box {
        padding: 14px 18px;
        padding-right: 36px;
        width: max-content;
        max-width: 100%;

        span {
          max-width: 700px;
          overflow: hidden;
          word-wrap: break-word;
          line-height: 30px;
          font-size: var(--question-box-answer-list-fs);
        }

        &:not(:disabled) {
          &:hover {
            scale: 1.01;
          }

          &:active {
            scale: 0.99;
            transform: translateX(25px);
          }
        }
      }
    }

    /* IF GRID */
    &.grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));

      .answer-box {
        padding: 25px 20px;

        span {
          overflow: hidden;
          word-wrap: break-word;
          text-overflow: ellipsis;
          line-height: 32px;
          font-size: var(--question-box-answer-grid-fs);
        }

        &:not(:disabled) {
          &:hover {
            scale: 1.02;
          }

          &:active {
            scale: 0.99;
          }
        }
      }
    }
  }
}

@keyframes question-box-appear {
  0% {
    scale: 0.7;
    opacity: 0;
    rotate: 4deg;
  }

  85% {
    scale: 1.02;
  }

  100% {
    scale: 1;
    opacity: 1;
    rotate: 0;
  }
}

@keyframes answer-box-appear {
  0% {
    scale: 0.85;
    opacity: 0;
  }

  90% {
    scale: 1.01;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes question-box-disappear {
  50% {
    scale: 0.96;
    opacity: 1;
  }

  100% {
    transform: translateY(-40px);
    opacity: 0;
    scale: 0.96;
  }
}

@media screen and (max-width: 1600px) {
  .play-question-box {
    padding: 42px;

    h2 {
      line-height: 32px;
      margin: 0 28px 28px 0;
    }

    .answers .answer-box {
      gap: 10px;

      svg {
        --svg-size: 28px;
      }
    }

    .answers.list .answer-box {
      padding: 12px 16px;
      padding-right: 34px;
    }

    .answers.grid .answer-box {
      padding: 22px 20px;
      padding: 28px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .play-question-box {
    padding: 36px;
    border-radius: 16px;

    h2 {
      line-height: 27px;
    }

    .answers .answer-box svg {
      --svg-size: 24px;
    }

    .answers.list .answer-box {
      padding: 10px 14px;
      padding-right: 34px;
    }

    .answers.grid .answer-box {
      padding: 18px;
      padding: 24px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .play-question-box {
    padding: 40px;

    h2 {
      line-height: 30px;
    }

    .answers {
      .answer-box svg {
        --svg-size: 24px;
      }

      &.list .answer-box {
        padding: 22px 20px;
        padding-right: 32px;
        gap: 14px;

        span {
          line-height: 22px;
        }
      }

      &.grid .answer-box {
        padding: 24px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .play-question-box {
    padding: 32px;

    h2 {
      line-height: 24px;
    }

    .answers.list .answer-box {
      padding: 16px 14px;
      padding-right: 28px;
      gap: 10px;
    }

    .answers.grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .answers.grid .answer-box {
      padding: 16px;

      svg {
        --svg-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .play-question-box {
    padding: 24px;

    h2 {
      line-height: 20px;
      margin: 0 22px 18px 0;
    }

    .answers .answer-box svg {
      --svg-size: 18px;
    }

    .answers.list {
      gap: 10px;

      .answer-box {
        padding: 12px 10px;
        padding-right: 28px;
      }
    }

    .answers.grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 10px;

      answer-box {
        padding: 10px;
      }
    }
  }
}
