.form-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.form-input span {
  color: #a9a9a9;
  font-size: 16px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
}

.form-input input {
  border-radius: 10px;
  height: 50px;
  outline: none;
  border: 1px solid #313131;
  background: #1b1b1b;
  width: 100%;
  padding: 0 14px;
  font-size: 20px;
  text-wrap: nowrap;
}

@media screen and (max-width: 1600px) {
  .form-input span {
    font-size: 15px;
  }
  .form-input input {
    height: 46px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .form-input span {
    font-size: 13px;
  }
  .form-input input {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .form-input span {
    font-size: 12px;
  }
  .form-input input {
    font-size: 14px;
    padding: 0 12px;
  }
}

@media screen and (max-width: 1000px) {
  .form-input span {
    font-size: 10px;
  }
  .form-input input {
    height: 38px;
    font-size: 12px;
    padding: 0 10px;
  }
}
