body.results {
  justify-content: flex-start;
  overflow: hidden;
  height: 100vh;
}

#root.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.results-title {
  text-align: center;
  font-size: 66px;
  font-family: var(--poppins);
  animation: results-title-appear 0.7s ease-out 0.1s both;
}

.results-box {
  background: #262627;
  border-radius: 20px;
  padding: 60px 50px 4% 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
  gap: 46px;
  animation: results-box-appear 0.6s ease 0.2s both;

  .score-message {
    --f-size: 32px;
    font-size: var(--f-size);
    font-family: var(--roboto);
    font-weight: 600;
    text-align: center;
    text-wrap: nowrap;
    color: #dbdbdb;

    span {
      font-weight: 700;
      font-size: calc(var(--f-size) * 1.1);
      color: white;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 40px;

    button {
      --btn-size: 82px;
      width: var(--btn-size);
      height: var(--btn-size);
      border: 1px solid #5a5a5a;
      border-radius: 10px;
      background: #363636;
      display: flex;
      align-items: center;
      justify-content: center;
      --svg-size: 73%;

      &.home {
        --svg-size: 60%;
      }

      svg {
        height: var(--svg-size);
        width: var(--svg-size);
        transition: all 0.5s ease;
      }

      &:not(:disabled) {
        svg {
          scale: 1.05;
        }

        &:hover {
          scale: 1.01;
          filter: brightness(120%);
          box-shadow: 0 0 10px #77777730;
        }

        &:active {
          scale: 0.95;
          filter: brightness(90%);
          box-shadow: none;
        }

        transition: all 0.2s ease;
      }

      &:disabled {
        transition: all 0.15s ease;
        opacity: 0.7;

        svg {
          transition: all 0.15s ease;
        }
      }
    }

    .edit-btn svg {
      width: 70%;
    }
  }
}

.result-questions-box {
  display: grid;
  gap: 10px;

  /* DEFAULT */
  .result-question {
    border-radius: 10px;
    border: 3px solid var(--result-color);
    box-shadow: 0 0 14px var(--result-color-st);
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    gap: 10px;

    span {
      font-family: var(--roboto);
      font-weight: 500;
      width: max-content;
      text-wrap: nowrap;
    }

    .result-icon svg {
      color: var(--result-color);
      scale: 1.6;
      stroke-width: 2;
    }
  }

  /* IF LOT */
  &.lot {
    grid-template-columns: repeat(3, max-content);

    .result-question {
      padding: 10px 14px;
      width: 200px;

      span {
        font-size: 23px;
      }

      .result-icon svg {
        width: 24px;
      }
    }
  }

  /* IF FEW */
  &.few {
    grid-template-columns: repeat(2, max-content);

    .result-question {
      padding: 20px 26px;
      width: 278px;

      span {
        font-size: 34px;
      }

      .result-icon svg {
        width: 32px;
      }
    }
  }
}

@keyframes results-title-appear {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes results-box-appear {
  0% {
    opacity: 0;
    scale: 0.9;
    transform: translateY(50px);
  }

  75% {
    opacity: 1;
    scale: 1.01;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes result-question-appear {
  from {
    scale: 0.9;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@media screen and (max-height: 920px) {
  #root.results {
    gap: 22px;
  }

  .results-title {
    font-size: 52px;
  }

  .results-box {
    padding: 48px;
    padding-bottom: 24px;
    gap: 34px;

    .score-message {
      --f-size: 30px;
    }

    .buttons button {
      --btn-size: 78px;
    }
  }
}

@media screen and (max-width: 900px),
screen and (max-height: 800px) {
  #root.results {
    gap: 10px;
  }

  .results-title {
    font-size: 46px;
  }

  .results-box {
    padding: 40px 60px;
    padding-bottom: 20px;
    gap: 28px;
    min-width: fit-content;

    .score-message {
      --f-size: 26px;
    }

    .buttons button {
      --btn-size: 70px;
    }
  }

  .result-questions-box {
    gap: 10px;

    /* DEFAULT */
    .result-question {
      border-radius: 8px;
      gap: 0;

      .result-icon svg {
        color: var(--result-color);
        scale: 1.6;
        stroke-width: 2;
      }
    }

    /* IF LOT */
    &.lot .result-question {
      padding: 8px 12px;
      width: 190px;

      span {
        font-size: 22px;
      }

      .result-icon svg {
        width: 22px;
      }
    }

    /* FEW */
    &.few .result-question {
      padding: 18px 24px;
      width: 270px;

      span {
        font-size: 28px;
      }

      .result-icon svg {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 800px),
screen and (max-height: 750px) {
  #root.results {
    gap: 6px;
  }

  .results-title {
    font-size: 38px;
  }

  .results-box {
    padding: 40px;
    padding-bottom: 20px;
    gap: 25px;

    .score-message {
      --f-size: 24px;
    }

    .buttons {
      gap: 24px;

      button {
        --btn-size: 60px;
      }
    }
  }

  .result-questions-box {
    gap: 6px;

    /* DEFAULT */
    .result-question {
      border: 2px solid var(--result-color);

      .result-icon svg {
        scale: 2;
        stroke-width: 1.8;
      }
    }


    /* IF LOT */
    &.lot .result-question {
      padding: 8px 10px;
      width: 160px;

      span {
        font-size: 20px;
        font-weight: 400;
      }

      .result-icon svg {
        width: 12px;
      }
    }

    /* FEW */
    &.few .result-question {
      padding: 14px 20px;
      width: 210px;

      span {
        font-size: 22px;
        font-weight: 400;
      }

      .result-icon svg {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .results-title {
    font-size: 34px;
  }

  .results-box {
    padding: 28px;
    padding-bottom: 20px;
    gap: 20px;

    .score-message {
      --f-size: 16px;
    }

    .buttons {
      gap: 16px;

      button {
        --btn-size: 50px;
      }
    }
  }

  .result-questions-box {
    gap: 6px;

    /* DEFAULT */
    .result-question {
      border: 1px solid var(--result-color);

      .result-icon svg {
        stroke-width: 1.5;
      }
    }

    /* IF LOT */
    &.lot .result-question {
      padding: 6px 8px;
      width: auto;

      span {
        font-size: 16px;
        font-weight: 400;
      }

      .result-icon svg {
        width: 24px;
        display: none;
      }
    }

    /* FEW */
    &.few .result-question {
      padding: 10px 14px;
      width: 150px;

      span {
        font-size: 16px;
      }

      .result-icon svg {
        width: 14px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .results-box {
    padding: 20px;
    padding-bottom: 18px;

    .score-message {
      --f-size: 14px;
    }
  }

  .result-questions-box.lot,
  .result-questions-box.few {
    gap: 6px;
    grid-template-columns: repeat(2, max-content);
    max-height: 180px;
    justify-content: center;
    width: 100%;
    overflow: hidden scroll;

    outline: 2px solid #393939;
    background: #222;
    padding: 8px;
    border-radius: 5px;

    .result-question {
      border: 1px solid var(--result-color);
      padding: 8px;

      .result-icon svg {
        stroke-width: 1.5;
      }

      span {
        font-size: 16px;
        font-weight: 400;
      }

      .result-icon svg {
        width: 16px;
      }
    }
  }
}