.browse-quizzes-grid{
  height: 100%;
  width: 100%;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(auto-fit, var(--element-width));
  grid-template-rows: repeat(auto-fit, var(--element-height));
  align-items: start;

  --element-width: 400px;
  --element-height: 200px;
}