:root {
  --app-logo-size: 100px;
}

.app-logo {
  background: url(../../../assets/app-logo.png);
  width: var(--app-logo-size);
  height: var(--app-logo-size);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &:disabled {
    opacity: 0.8;
  }

  &:not(:disabled) {
    &:hover {
      filter: brightness(110%);
    }
    cursor: pointer;
  }
}
