.edit-quiz-settings-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(5px);
  user-select: none;

  --text-s: 24px;
  --text-m: 30px;
  --text-xl: 52px;

  --text-btn: 36px;

  transition: backdrop-filter 0.2s ease, opacity 0.2s ease;

  &.visible {
    opacity: 1;
    backdrop-filter: blur(5px);
  }

  &.hidden {
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  .edit-quiz-settings {
    background: #202020;
    border: 1px solid #6a6a6a;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
    transition: all 0.2s ease;
    animation: quiz-settings-appear 0.15s ease-out backwards;

    &.visible {
      opacity: 1;
      scale: 1;
    }

    &.hidden {
      opacity: 0;
      scale: 0.85;
    }

    h2 {
      font-family: var(--poppins);
      font-size: var(--text-xl);
      text-wrap: nowrap;
      color: #fff;
    }

    h4 {
      font-family: var(--roboto);
      letter-spacing: 1px;
      font-size: var(--text-m);
      color: #fff;
    }

    h5 {
      font-family: var(--roboto);
      letter-spacing: 1px;
      font-size: var(--text-s);
      color: #939393;
    }

    section {
      width: 100%;
      display: flex;
      gap: 5px;
    }

    .shuffle {
      flex-direction: column;

      div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }

    .show-icons {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .answer-time {
      flex-direction: column;
      gap: 20px;

      .txt-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .okay-btn {
      background: #a37df3;
      color: #fff;
      font-size: var(--text-btn);
      font-weight: 600;
      font-family: var(--poppins);
      border: none;
      border-radius: 15px;
      padding: 10px 22px;
      margin-top: 12px;
      cursor: pointer;

      transition: all 0.25s ease-out, filter 0.1s ease;

      &:hover {
        scale: 1.025;
        filter: brightness(120%);
      }

      &:active {
        scale: 0.95;
        filter: brightness(75%);
      }
    }
  }
}

@keyframes quiz-settings-appear {
  0% {
    opacity: 0;
    scale: 0.95;
  }

  75% {
    scale: 1.02;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@media (max-width: 1400px) {
  .edit-quiz-settings-wrapper {
    --text-s: 20px;
    --text-m: 28px;
    --text-xl: 40px;

    --text-btn: 32px;

    .edit-quiz-settings {
      height: 600px;
      width: 450px;

      .answer-time {
        gap: 16px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .edit-quiz-settings-wrapper {
    --text-s: 18px;
    --text-m: 26px;
    --text-xl: 36px;
    --text-btn: 28px;

    .edit-quiz-settings {
      height: 500px;
      width: 380px;
      gap: 20px;
      padding: 0px 40px;

      section {
        gap: 4px;
      }

      h4,
      h5 {
        font-weight: 400;
      }

      .answer-time {
        gap: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  .edit-quiz-settings-wrapper {
    --text-s: 16px;
    --text-m: 20px;
    --text-xl: 26px;
    --text-btn: 20px;

    .edit-quiz-settings {
      height: 400px;
      width: 300px;
      gap: 16px;
      padding: 0px 20px;

      section {
        gap: 4px;
      }

      h4,
      h5 {
        font-weight: 300;
      }

      .answer-time {
        gap: 12px;
      }
      .okay-btn {
        border-radius: 12px;
        padding: 8px 16px;
      }
    }
  }
}
