.user-quizzes-grid {
  height: auto;
  width: 100%;
  display: grid;
  gap: 30px;
  padding-bottom: 70px;

  grid-template-columns: repeat(auto-fit, var(--element-width));
  grid-template-rows: repeat(auto-fit, var(--element-height));
  align-items: start;

  --element-width: 400px;
  --element-height: 200px;

  .create-new-quiz-btn {
    width: var(--element-width);
    height: var(--element-height);
    background: #313131;
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    transition: all 0.2s ease;

    &.loading svg {
      --size: 50%;
    }

    svg {
      --size: 30%;
      width: var(--size);
      height: var(--size);
      opacity: 0.5;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        scale: 1.03;
        filter: brightness(120%);
      }
      &:active {
        scale: 0.98;
        filter: brightness(90%);
      }
    }
  }
}

@media screen and (max-width: 1700px) and (min-width: 1450px) {
  .user-quizzes-grid {
    --element-width: 340px;
    --element-height: 180px;
    gap: 26px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 750px) {
  .user-quizzes-grid {
    --element-width: 300px;
    --element-height: 160px;
    gap: 22px;
  }
}

@media screen and (max-width: 900px) {
  .user-quizzes-grid {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .user-quizzes-grid {
    --element-width: 300px;
    --element-height: 160px;
    gap: 22px;
  }
}

@media screen and (max-width: 400px) {
  .user-quizzes-grid {
    --element-width: 250px;
    --element-height: 140px;
    gap: 16px;
  }
}
