#root.browse {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0 300px;
  gap: 75px;
}

body.browse .app-logo {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 40px;
  left: 40px;
}
