.question-warning-message {
  --svg-size: 28px;
  --font-size: 22px;
  --trans-y: 75%;

  position: absolute;
  left: 50%;
  translate: -50% var(--trans-y);
  bottom: -60px;
  display: flex;
  gap: 12px;
  align-items: center;
  color: #eaea79;

  svg {
    width: var(--svg-size);
    height: var(--svg-size);
  }

  span {
    font-size: var(--font-size);
    line-height: 0;
    text-wrap: nowrap;
  }
}

@media (max-width: 1100px) {
  .question-warning-message {
    --svg-size: 24px;
    --font-size: 20px;
    --trans-y: 60%;
    gap: 10px;
  }
}

@media (max-width: 750px) {
  .question-warning-message {
    --svg-size: 22px;
    --font-size: 18px;
    --trans-y: 40%;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .question-warning-message {
    --svg-size: 20px;
    --font-size: 14px;
    --trans-y: 0;
  }
}

@media (max-width: 400px) {
  .question-warning-message {
    --svg-size: 16px;
    --font-size: 12px;
    --trans-y: -20%;
    gap: 7px;
  }
}
