.menu-question-box {
  background: #262627;
  border-radius: 20px;
  padding: 60px;
  max-width: 1000px;

  h2 {
    font-size: 48px;
    font-family: var(--poppins);
    margin: 0 30px 42px 0;
    text-wrap: nowrap;
    cursor: default;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .answer-box {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 24px 32px 24px 18px;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: none;
    border: none;

    transition: all 0.3s ease;

    &:hover {
      scale: 1.03;
      filter: brightness(120%);
      box-shadow: 0 0 16px var(--bg-color-st);
    }

    &:active {
      scale: 0.99;
      box-shadow: 0 0 16px transparent;
      filter: brightness(95%);
      transform: translateX(25px);
    }

    &:hover svg {
      scale: 1.1;
    }

    &:disabled,
    &:disabled svg path {
      pointer-events: none;
      filter: brightness(75%);
      color: white;
    }

    span {
      font-size: 36px;
      font-family: var(--roboto);
      text-wrap: nowrap;
    }

    svg {
      transition: all 0.3s ease;
      margin-right: 20px;
      scale: 0.85;
    }
  }
}

@media screen and (max-width: 1600px) {
  .menu-question-box {
    padding: 52px;

    h2 {
      font-size: 42px;
    }

    section {
      gap: 24px;
    }

    answer-box span {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .menu-question-box {
    padding: 40px 44px;

    h2 {
      font-size: 38px;
      margin: 0 30px 30px 0;
    }
    section {
      gap: 20px;
    }

    .answer-box span {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .menu-question-box {
    padding: 32px;
    border-radius: 16px;

    h2 {
      font-size: 30px;
      margin: 0 30px 30px 0;
    }

    section {
      gap: 16px;
    }

    .answer-box {
      padding: 16px;
      padding-right: 26px;
      border-radius: 8px;

      span {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .menu-question-box {
    padding: 28px;
    border-radius: 12px;

    h2 {
      font-size: 24px;
      margin: 0 20px 20px 0;
    }

    section {
      gap: 14px;
    }

    .answer-box {
      padding: 12px;
      padding-right: 22px;

      span {
        font-size: 24px;
      }

      svg {
        scale: 0.65;
        margin-right: 8px;
      }

      &:hover svg {
        scale: 0.75;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .menu-question-box {
    padding: 22px;
    border-radius: 10px;

    h2 {
      font-size: 20px;
      margin: 0 16px 16px 0;
      font-weight: 600;
    }

    section {
      gap: 12px;
    }

    .answer-box {
      padding: 10px;
      padding-right: 22px;

      span {
        font-size: 20px;
      }

      svg {
        scale: 0.6;
        margin-right: 4px;
      }

      &:hover svg {
        scale: 0.7;
      }
    }
  }
}
