.browse-quiz {
  width: var(--element-width);
  height: var(--element-height);
  background: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  user-select: none;
  padding: 48px 52px;
  transition: all 0.6s ease-out;

  &.not-disabled {
    cursor: pointer;
    transition: all 0.25s ease-out;

    &:hover {
      scale: 1.04;
      filter: brightness(115%);
      box-shadow: 0 0 10px var(--bg-color);
    }

    &:active {
      scale: 0.98;
      filter: brightness(90%);
      box-shadow: none;
    }
  }

  h4 {
    text-align: center;
    font-size: 38px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      font-size: 24px;
      font-weight: 400;
      opacity: 0.9;
    }

    div {
      display: flex;
      gap: 28px;
      align-items: center;
      opacity: 0.75;

      span {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          --size: 26px;
          width: var(--size);
          height: var(--size);
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}



@media screen and (max-width: 1600px) and (min-width: 1300px) {
  .browse-quiz {
    padding: 45px 50px;
  }

  .browse-quiz h4 {
    font-size: 32px;
  }

  .browse-quiz .info h6 {
    font-size: 20px;
  }

  .browse-quiz .info div {
    gap: 18px;
  }

  .browse-quiz .info div span {
    gap: 4px;
  }

  .browse-quiz .info div span svg {
    --size: 22px;
  }

  .browse-quiz .info div span p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .browse-quiz {
    padding: 42px 50px;
  }

  .browse-quiz h4 {
    font-size: 28px;
  }

  .browse-quiz .info h6 {
    font-size: 18px;
  }

  .browse-quiz .info div {
    gap: 16px;
  }

  .browse-quiz .info div span {
    gap: 4px;
  }

  .browse-quiz .info div span svg {
    --size: 20px;
  }

  .browse-quiz .info div span p {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .browse-quiz {
    padding: 38px 40px;
  }

  .browse-quiz h4 {
    font-size: 24px;
  }

  .browse-quiz .info h6 {
    font-size: 16px;
  }

  .browse-quiz .info div {
    gap: 14px;
  }

  .browse-quiz .info div span {
    gap: 4px;
  }

  .browse-quiz .info div span svg {
    --size: 18px;
  }

  .browse-quiz .info div span p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .browse-quiz {
    padding: 45px 50px;
  }

  .browse-quiz h4 {
    font-size: 32px;
  }

  .browse-quiz .info h6 {
    font-size: 20px;
  }

  .browse-quiz .info div {
    gap: 18px;
  }

  .browse-quiz .info div span {
    gap: 4px;
  }

  .browse-quiz .info div span svg {
    --size: 22px;
  }

  .browse-quiz .info div span p {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .browse-quiz {
    padding: 38px 40px;
  }

  .browse-quiz h4 {
    font-size: 24px;
  }

  .browse-quiz .info h6 {
    font-size: 16px;
  }

  .browse-quiz .info div {
    gap: 14px;
  }

  .browse-quiz .info div span {
    gap: 4px;
  }

  .browse-quiz .info div span svg {
    --size: 18px;
  }

  .browse-quiz .info div span p {
    font-size: 14px;
  }
}