
.user-quizzes-grid{
  height: 100%;
  width: 100%;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(auto-fit, var(--element-width));
  grid-template-rows: repeat(auto-fit, var(--element-height));
  align-items: start;

  --element-width: 400px;
  --element-height: 200px;
}

.user-quizzes-grid .create-new-quiz-btn{
  width: var(--element-width);
  height: var(--element-height);
  background: #313131;
  border: 1px solid #5A5A5A;
  border-radius: 10px;

  transition: all .2s ease;
  &:hover{
    scale: 1.03;
    filter: brightness(120%);
  }
  &:active{
    scale: .98;
    filter: brightness(90%);
  }
}

.user-quizzes-grid .create-new-quiz-btn svg{
  width: 30%;
  height: 30%;
  opacity: .5;
}

.user-quizzes-grid .user-quiz{
  width: var(--element-width);
  height: var(--element-height);
  background: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.user-quizzes-grid .user-quiz h4{
  font-size: 36px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.user-quizzes-grid .user-quiz section{
  display: flex;
  width: 50%;
  justify-content: space-between;
  opacity: .8;
}

.user-quizzes-grid .user-quiz section div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-quizzes-grid .user-quiz section div svg{
  width: 32px;
  height: 32px;
}

.user-quizzes-grid .user-quiz section div span{
  font-size: 28px;
}

.user-quizzes-grid .user-quiz .edit-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(0 0 0 / .4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  opacity: 0;

  transition: all .1s ease-out;
  &:hover{
    opacity: 1;
  }
}

.user-quizzes-grid .user-quiz .edit-menu button{
  --size: 140px;
  width: var(--size);
  height: var(--size);
  border: none;
  border-radius: 10px;
  background: rgb(0 0 0 / .4);

  transition: 
    all .25s ease-out,
    background .15s ease
  ;
  &:hover{
    background: rgb(0 0 0 / .7);
    scale: 1.05;
  }
  &:active{
    scale: .96;
    background: rgb(0 0 0 / .6);
  }
}

.user-quizzes-grid .user-quiz .edit-menu button svg{
  width: 80%;
  height: 80%;
}

:root{
  --del-vib-rate: .4deg;
}

.user-quizzes-grid .user-quiz.delete-mode{
  --red: #ca2631;
  box-shadow: 0px 0px 8px var(--red);
  outline-color: var(--red);
  cursor: pointer;

  transition: all .15s ease;
  &:hover{
    outline: 4px solid var(--red);
    box-shadow: 0px 0px 22px var(--red);
    --del-vib-rate: .8deg;
    scale: 1.04;
  }
  &:active{
    scale: .9;
    filter: brightness(75%);
    --del-vib-rate: .1deg;
  }

  animation: delete-vibration .1s linear infinite both alternate-reverse;
}

@keyframes delete-vibration{
  from{
    rotate: var(--del-vib-rate);
  }
  to{
    rotate: calc(var(--del-vib-rate) * -1);
  }
}