.stars-wrapper {
  display: flex;
  gap: 60px;
  margin-bottom: 10px;
  --star-base-scale: 1.75;

  svg {
    color: #f6d242;
    --svg-size: 82px;
    scale: var(--star-base-scale);
    width: var(--svg-size);
    width: var(--svg-size);
    stroke-width: 0.8;
    opacity: 0.5;
    fill: none;
  }
}

@keyframes star-popup {
  25% {
    fill: currentColor;
  }

  45%,
  55% {
    scale: calc(var(--star-base-scale) * 1.2);
    opacity: 1;
    fill: currentColor;
    filter: brightness(125%);
  }

  100% {
    scale: calc(var(--star-base-scale) * 1.075);
    fill: currentColor;
    filter: brightness(110%);
    opacity: 1;
    stroke-width: 0.1;
  }
}

@media screen and (max-height: 920px), screen and (max-width: 900px) {
  .stars-wrapper {
    gap: 52px;
    margin-bottom: 0;
  }

  .stars-wrapper svg {
    --svg-size: 64px;
  }
}

@media screen and (max-width: 800px), screen and (max-height: 750px) {
  .stars-wrapper {
    gap: 45px;
  }

  .stars-wrapper svg {
    --svg-size: 56px;
  }
}

@media screen and (max-width: 600px) {
  .stars-wrapper {
    gap: 32px;
  }

  .stars-wrapper svg {
    --svg-size: 40px;
  }
}

@media screen and (max-width: 430px) {
  .stars-wrapper {
    gap: 22px;
  }

  .stars-wrapper svg {
    --svg-size: 30px;
  }
}
