body.edit{
  background: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.edit nav{
  --nav-size: 80px;
  display: flex;
  width: 100vw;
  height: var(--nav-size);
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  position: absolute;
  left: 0;
  top: 0;
}

body.edit nav section{
  display: flex;
  gap: 30px;
}

body.edit nav section button{
  border: none;
  border-radius: 10px;
  height: var(--nav-size);
  width: var(--nav-size);
}
body.edit nav section button svg{
  width: 85%;
  height: 85%;
  stroke-width: 1.2;
}

body.edit nav section .quiz-settings-btn{
  background: #343434;
}
body.edit nav section .quiz-play-btn{
  background: #0647ED;
}

body.edit nav .app-logo{
  background: url(../../../public/favicon.png);
  width: var(--nav-size);
  height: var(--nav-size);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
}

.quiz-title-and-progress{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5vh;
}

.quiz-title-and-progress .quiz-title h3{
  font-family: Poppins;
  font-size: 58px;
  font-weight: 600;
  text-wrap: nowrap;
  color: #fff;
  position: relative;
  
  &:hover{
    animation: question-query-blink .9s ease infinite both;
  }
  transition: all .2s ease;
}

@keyframes question-query-blink{
  0%{
    color: #fff;
  }
  50%{
    color: #acacac;
  }
  100%{
    color: #fff;
  }
}

.quiz-title-and-progress .quiz-title input{
  font-family: Poppins;
  font-size: 58px;
  font-weight: 500;
  padding: 0 20px;
  background: rgb(255 255 255 / .025);
  outline: none;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.quiz-title-and-progress .quiz-title h3:hover svg{
  opacity: .5;
}

.quiz-title-and-progress .quiz-title h3 svg{
  --svg-size: 26px;
  max-width: var(--svg-size);
  max-height: var(--svg-size);
  min-width: var(--svg-size);
  min-height: var(--svg-size);
  position: absolute;
  color: #fff;
  right: -42px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .12s ease;
}

.quiz-title-and-progress .quiz-progress{
  font-family: Poppins;
  font-size: 26px;
  color: #cdcdcd;
}


