body.edit .edit-mode-header {
  --nav-size: 80px;
  display: flex;
  width: 100vw;
  height: var(--nav-size);
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  position: absolute;
  left: 0;
  top: 0;
}

body.edit .edit-mode-header section {
  display: flex;
  align-items: center;
  --buttons-gap: 28px;
  position: relative;
  gap: var(--buttons-gap);
}

body.edit .edit-mode-header section button {
  border: none;
  border-radius: 12px;
  height: var(--nav-size);
  width: var(--nav-size);
  --svg-size: 85%;
}
body.edit .edit-mode-header section button svg {
  width: var(--svg-size);
  height: var(--svg-size);
  stroke-width: 1.2;
}
body.edit .edit-mode-header section .quiz-share-btn {
  background: #1f1f1f;
}
body.edit .edit-mode-header section .quiz-share-btn svg {
  --svg-size: 65%;
  stroke-width: 1.5;
  color: gray;
}

body.edit .edit-mode-header section a {
  margin-left: 12px;
}

body.edit .edit-mode-header button:not(.app-logo) {
  background: var(--bg-color);
  transition: filter 0.1s ease, scale 0.25s ease-out;
}

body.edit .edit-mode-header button:not(.app-logo):not(:disabled) {
  cursor: pointer;

  &:hover {
    filter: brightness(115%);
    scale: 1.03;
  }
  &:active {
    filter: brightness(90%);
    scale: 0.98;
  }
}

.quiz-url-copied-message {
  --bg-color: #350d89;
  text-wrap: nowrap;
  position: absolute;
  top: 125%;
  right: calc(var(--nav-size) * 2.5 + var(--buttons-gap) * 2);
  max-height: 50px;
  translate: 50% -50%;
  font-size: 24px;
  background: var(--bg-color);
  border-radius: 8px;
  padding: 4px 12px;
  opacity: 0;

  &::before {
    content: '';
    background: var(--bg-color);
    --size: 24px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -40%;
    rotate: 45deg;
    border-radius: 4px;
  }
}

@keyframes copied-message-appear {
  0%,
  100% {
    scale: 0.8 0.4;
    opacity: 0;
    translate: 50% -50%;
  }
  10%,
  85% {
    scale: 1;
    opacity: 1;
    translate: 50% 10%;
  }
}

body.edit .edit-mode-header section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 12px;
}

body.edit .edit-mode-header section div svg {
  width: 86%;
  height: 86%;
  opacity: 0.2;
  animation: cloud-svg-pop 0.2s ease-out both;
}

@keyframes cloud-svg-pop {
  0% {
    scale: 0.99;
  }
  20% {
    scale: 1.05;
    opacity: 0.25;
  }
  100% {
    scale: 1;
  }
}

.quiz-settings-btn:disabled,
.quiz-play-btn:disabled {
  opacity: 0.9;
}

body.edit .edit-mode-header .app-logo {
  --app-logo-size: var(--nav-size);
}
