#root.dashboard {
  display: flex;
  height: 100vh;

  --side-bar-width: 100px;
  margin-left: var(--side-bar-width);
  width: calc(100vw - var(--side-bar-width));
  padding: 80px 140px;
}

#root.dashboard main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  width: 100%;
}
