#root.dashboard {
  display: flex;
  height: 100vh;

  --side-bar-width: 100px;
  margin-left: var(--side-bar-width);
  width: calc(100vw - var(--side-bar-width));
  padding: 80px 140px;
}

#root.dashboard aside {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

#root.dashboard aside section {
  width: var(--side-bar-width);
  --element-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#root.dashboard main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  width: 100%;
}

#root.dashboard main header {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 90px;
  user-select: none;
}

#root.dashboard main header h2 {
  font-size: 58px;
}

#root.dashboard main header h3 {
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
}

#root.dashboard main header button {
  padding: 8px 18px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  background: #313131;
  border: 1px solid #5a5a5a;
  font-style: italic;
  cursor: pointer;

  transition: all 0.15s ease;
  &:hover {
    scale: 1.03;
    filter: brightness(120%);
  }
  &:active {
    scale: 0.98;
    filter: brightness(90%);
  }
}

#root.dashboard aside .user-profile-pic {
  width: var(--element-size);
  height: var(--element-size);
}

#root.dashboard aside button {
  width: var(--element-size);
  height: var(--element-size);
  border: none;
  border-radius: 50%;
  background: #343434;

  transition: all 0.25s ease-out, filter 0.15s ease;
}

#root.dashboard aside button:not(:disabled) {
  cursor: pointer;

  &:hover {
    scale: 1.05;
    filter: brightness(120%);
  }
  &:active {
    scale: 0.98;
    filter: brightness(150%);
  }
}

#root.dashboard aside button svg {
  stroke-width: 2;
  width: 65%;
  height: 65%;
}

#root.dashboard aside .delete-btn,
#root.dashboard aside .logout-btn {
  background: #262626;
}

#root.dashboard aside .delete-btn svg,
#root.dashboard aside .logout-btn svg {
  stroke-width: 1.5;
  color: #b8b8b8;
}
