* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: var(--roboto);
}

body {
  overflow-x: hidden;
}

:root {
  --loading-bg-color: linear-gradient(to right, #343434, #262626, #343434);
  --loading-bg-size: 1700px;
  --loading-bg-anim: element-loading-bg-animation 1s linear infinite both;

  --roboto: Roboto, system-ui, Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  --poppins: Poppins, 'Segoe UI', system-ui, Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes element-loading-bg-animation {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: var(--loading-bg-size);
  }
}

@keyframes not-able-to-keep-writing {
  0% {
    translate: 0px 0px;
  }

  38% {
    translate: 10px 0px;
    color: rgb(255 255 255 / 0.5);
  }

  100% {
    translate: 0px 0px;
  }
}