.edit-question-box{
  background: #262627;  
  border-radius: 20px;
  padding: 50px;
  max-width: 1000px;
  max-height: 500px;
  position: relative;
}

.edit-question-box header{
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
  max-width: 100%;
}

.edit-question-box header .question-query{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% - 80px);
  user-select: none;
  gap: 10px;
}

.edit-question-box header .question-query textarea{
  --bg-color: #2b2b2c;
  border-radius: 10px;
  border: none;
  font-size: 32px;
  background: var(--bg-color);
  outline: 10px solid var(--bg-color);
  resize: none;
}

.edit-question-box header .question-query span{
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  &:hover{
    animation: question-query-blink .9s ease infinite both;
  }
  transition: all .2s ease;
}

@keyframes question-query-blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: .6;
  }
  100%{
    opacity: 1;
  }
}

.edit-question-box header .question-query span:hover + svg{
  opacity: .5;
}

.edit-question-box header .question-query svg{
  --svg-size: 22px;
  max-width: var(--svg-size);
  max-height: var(--svg-size);
  min-width: var(--svg-size);
  min-height: var(--svg-size);
  opacity: 0;
  transition: all .12s ease;
}


.edit-question-box header .edit-question-options svg{
  --svg-size: 34px;
  max-width: var(--svg-size);
  max-height: var(--svg-size);
  min-width: var(--svg-size);
  min-height: var(--svg-size);
}



.edit-question-box .answers .edit-answer-box{
  border-radius: 10px;
  user-select: none;
  background: var(--bg-color);
  border: none;
  text-align: left;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  transition: all .3s ease;
  overflow: hidden;
}

.edit-question-box .answers .edit-answer-box span{
  font-family: Roboto;
  line-height: 36px;
}

/* IF LIST */
.edit-question-box .answers.list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 600px;
}
.edit-question-box .answers.list .edit-answer-box{
  padding: 16px 32px 16px 16px;
  padding-right: 36px;
  width: max-content;
  min-width: 120px;
  max-width: 100%;

  &:hover{
    min-width: 220px;
  }
}
.edit-question-box .answers.list .edit-answer-box span{
  max-width: 700px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 22px;
  line-height: 28px;
  max-height: 55px;
}
.edit-question-box .answers.list .edit-answer-box > svg{
  opacity: .9;
  min-width: 30px;
  height: 30px;
  transition: all .3s ease;
}
.edit-question-box .answers.list .edit-answer-box .edit-answer-menu{
  &:hover{
    opacity: 1;
    transition: all .4s ease;
  }
}
.edit-question-box .answers.list .add-answer-btn{
  padding: 10px;
  width: 40%;
}
.edit-question-box .answers.list .edit-answer-box .edit-answer-menu{
  gap: 10px;
}
.edit-question-box .answers.list .edit-answer-box .edit-answer-menu button{
  --btn-size: 55px;
  height: var(--btn-size);
  width: calc(var(--btn-size) + 4px);
}

/* ENDIF */


/* IF GRID */
.edit-question-box .answers.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 14px;
}
.edit-question-box .answers.grid .edit-answer-box{
  padding: 26px 28px 26px 16px;
  max-height: 180px;
}
.edit-question-box .answers.grid .edit-answer-box span{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 32px;
  max-height: 100px;
}
.edit-question-box .answers.grid .edit-answer-box > svg{
  opacity: .9;
  min-width: 30px;
  height: 38px;
  stroke-width: 1.6;
  transition: all .3s ease;
}
.edit-question-box .answers.grid .edit-answer-box .edit-answer-menu{
  &:hover{
    opacity: 1;
    transition: all .2s ease;
  }
}
.edit-question-box .answers.grid .add-answer-btn{
  width: 100%;
  padding: 20px;
}
.edit-question-box .answers.grid .edit-answer-box .edit-answer-menu{
  gap: 16px;
}
.edit-question-box .answers.grid .edit-answer-box .edit-answer-menu button{
  --btn-size: 65px;
  height: var(--btn-size);
  width: calc(var(--btn-size) + 8px);
}
/* ENDIF */


.add-answer-btn{
  background: #313131;
  border: 1px solid #5A5A5A;
  border-radius: 10px;

  transition: all .2s ease;

  &:hover{
    filter: brightness(115%);
    scale: 1.02;
  }
  &:active{
    box-shadow: none;
    filter: brightness(95%);
    scale: .99;
  }
}
.add-answer-btn svg{
  width: 30px;
  height: 30px;
}

.edit-answer-box .edit-answer-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0 0 0 / 0.3);
  border-radius: 10px;
  backdrop-filter: blur(4px);

  transition: all .1s ease;
  opacity: 0;
}


.edit-answer-box .edit-answer-menu button{
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #00000095;
  transition: all .25s ease;

  &:hover{
    background: #000000dc;
    scale: 1.01;
    transform: translate(0, -1px);
  }
  &:active{
    transform: translate(0, 1px);
    scale: .95;
    background: #00000095;
  }
}

.edit-answer-box .edit-answer-menu button svg{
  height: 40px;
}
.edit-answer-box .edit-answer-menu button:hover svg{
  scale: 1.05;
}

.edit-answer-box textarea{
  font-size: 24px;
  font-family: Roboto;
  overflow: hidden;
  resize: none;
  padding: 4px;
  border: none;
  outline: 10px solid #00000014;
  background: #00000014;
  border-radius: 10px;
}


.edit-question-options{
  --btn-size: 46px;
  --btn-gap: 10px;
  display: flex;
  justify-content: flex-start;
  gap: var(--btn-gap);
  position: absolute;
  top: 40px;
  right: 50px;
  padding: var(--btn-gap);

  width: calc(var(--btn-size) + var(--btn-gap));
  overflow: hidden;

  &:hover{
    width: calc(var(--btn-size) * 2 + var(--btn-gap) * 3);
  }
  transition: all ease .3s;
}

.edit-question-options button{
  height: var(--btn-size);
  width: var(--btn-size);
  min-width: var(--btn-size);
  border: none;
  border-radius: 8px;
  background: rgb(0 0 0 / .4);
  backdrop-filter: blur(8px);
}

.edit-question-options button:not(:disabled){
  &:hover{
    background: black;
    scale: 1.025;
  }
  &:active{
    background: rgb(0 0 0 / .4);
    scale: .99;
  }
  transition: all .15s ease;
}

.edit-question-options button:disabled{
  opacity: .5;
}

.edit-question-options .more-btn{
  background: transparent;
  scale: 1.5;
}

.edit-question-options:hover .more-btn{
  transition: all .4s ease;
  display: none;
}

.edit-question-options button svg{
  stroke-width: 1.2;
  scale: .95;
}
