.edit-answer-box .edit-answer-menu {
  --svg-size: 90%;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0 0 0 / 0.3);
  border-radius: 10px;
  backdrop-filter: blur(4px);

  display: flex;

  --gap-n-padd: 8px;
  padding: var(--gap-n-padd);
  gap: var(--gap-n-padd);
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  button {
    --move-hover: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #00000095;
    transition: all 0.25s ease;

    svg {
      width: var(--svg-size);
      height: var(--svg-size);
    }

    &:hover {
      background: #000000dc;
      scale: 1.01;
      transform: translate(0, calc(var(--move-hover) * -1));

      svg {
        scale: 1.05;
      }
    }

    &:active {
      transform: translate(0, var(--move-hover));
      scale: 0.95;
      background: #00000095;
    }
  }
}

@media (max-width: 750px) {
  .edit-answer-box .edit-answer-menu {
    --gap-n-padd: 4px;

    button {
      min-height: 70%;
    }
  }
}
