body.edit {
  background: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

@keyframes question-query-blink {
  0% {
    color: #fff;
  }

  50% {
    color: #acacac;
  }

  100% {
    color: #fff;
  }
}
