.user-quizzes-grid .user-quiz {
  width: var(--element-width);
  height: var(--element-height);
  background: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.user-quizzes-grid .user-quiz h4 {
  font-size: 36px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.user-quizzes-grid .user-quiz section {
  display: flex;
  width: 50%;
  justify-content: space-between;
  opacity: 0.8;
}

.user-quizzes-grid .user-quiz section div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-quizzes-grid .user-quiz section div svg {
  width: 32px;
  height: 32px;
}

.user-quizzes-grid .user-quiz section div span {
  font-size: 28px;
}
:root {
  --del-vib-rate: 0.4deg;
}

.user-quizzes-grid .user-quiz.delete-mode {
  --red: #ca2631;
  box-shadow: 0px 0px 8px var(--red);
  outline: 1px solid var(--red);
  cursor: pointer;

  transition: all 0.15s ease;
  &:hover {
    outline: 5px solid var(--red);
    box-shadow: 0px 0px 28px var(--red);
    --del-vib-rate: 0.8deg;
    scale: 1.04;
  }
  &:active {
    scale: 0.9;
    filter: brightness(75%);
    --del-vib-rate: 0.1deg;
  }

  animation: delete-vibration 0.1s linear infinite both alternate-reverse;
}

@keyframes delete-vibration {
  from {
    rotate: var(--del-vib-rate);
  }
  to {
    rotate: calc(var(--del-vib-rate) * -1);
  }
}

.user-quizzes-grid .user-quiz.loading {
  background: var(--loading-bg-color);
  background-size: var(--loading-bg-size);
  animation: var(--loading-bg-anim);
}
