
.browse-quizzes-grid{
  height: 100%;
  width: 100%;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(auto-fit, var(--element-width));
  grid-template-rows: repeat(auto-fit, var(--element-height));
  align-items: start;

  --element-width: 400px;
  --element-height: 200px;
}

.browse-quizzes-grid .browse-quiz{
  width: var(--element-width);
  height: var(--element-height);
  background: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  transition: all .6s ease-out;
}

.browse-quizzes-grid .browse-quiz.not-disabled{
  cursor: pointer;
  transition: all .3s ease-out;
  &:hover{
    scale: 1.04;
    filter: brightness(120%);
    box-shadow: 0 0 12px var(--bg-color);
  }
  &:active{
    scale: .98;
    filter: brightness(90%);
    box-shadow: none;
  }
}

.browse-quizzes-grid .browse-quiz h4{
  font-size: 36px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.browse-quizzes-grid .browse-quiz section{
  display: flex;
  width: 50%;
  justify-content: space-between;
  opacity: .8;
}

.browse-quizzes-grid .browse-quiz section div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.browse-quizzes-grid .browse-quiz section div svg{
  width: 32px;
  height: 32px;
}

.browse-quizzes-grid .browse-quiz section div span{
  font-size: 28px;
}